
<h1>Article Form </h1>
<form action="/articles" method="POST">
  Article Title: <input id="title" type="text" name="title">
  Article Content: <input id="content" type="text" name="content">
  <input id="Submit" type="submit">
</form>